**/.speakeasy/temp/
**/.speakeasy/logs/
.env
.env.local
.speakeasy/temp/
.terraform
terraform-provider-airbyte
.terraform*
*.tfstate*
.DS_Store
*.tfvars
.idea

# Generated spec file (created by scripts/generate_terraform_spec.py)
api_terraform.yaml
