# Speakeasy SDK Generation Workflow
#
# This workflow regenerates the Terraform provider code from the upstream OpenAPI spec using Speakeasy.
# It creates a PR with the regenerated code for review.
#
# How to use:
# - Go to Actions > Generate > Run workflow
# - Select the branch to run on (usually main)
# - Optionally check "Force generation" to regenerate even if no changes detected
#
# For clean regeneration (when API spec has breaking changes):
# 1. First run the "Clean PR Branch" workflow on an existing Speakeasy PR branch
# 2. Then re-run this Generate workflow on main with force=true

name: Generate
permissions:
    checks: write
    contents: write
    pull-requests: write
    statuses: write
"on":
    workflow_dispatch:
        inputs:
            force:
                description: Force generation of SDKs
                type: boolean
                default: false
jobs:
    generate:
        uses: speakeasy-api/sdk-generation-action/.github/workflows/workflow-executor.yaml@v15
        with:
            force: ${{ github.event.inputs.force }}
            mode: pr
            speakeasy_version: latest
            enable_sdk_changelog: false
        secrets:
            github_access_token: ${{ secrets.GITHUB_TOKEN }}
            speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
